html {
  font-size: 15px;
  font-family: 'Abel', sans-serif;
  background-color: #A4A464;
}
body {
  width: 600px;
  margin: 0 auto;
  background-color: #EEEEB8;
  padding: 0 20px 20px 20px;
  border: 5px solid black;
}
h1 {
  font-size: 60px;
  text-align: center;
  margin: 0;
  padding: 20px 0;    
  color: #A4A464;
  text-shadow: 3px 3px 1px black;
}
img {
  display: block;
  margin: 0 auto;
  cursor: pointer;
}
p, li {
  font-size: 20px;    
  line-height: 2;
  letter-spacing: 1px;
}
